
:root {
    --yellow5: #FF6D00;
    --yellow4: #FF7900;
    --yellow3: #FF8500;
    --yellow2: #FF9100;
    --yellow1: #FF9E00;
    --purple5: #240046;
    --purple4: #3C096C;
    --purple3: #5A189A;
    --purple2: #7B2CBF;
    --purple1: #9D4EDD;
    --background1: #F7435E;
    --background2: #C6468C;
}
